<h3>Response</h3>
<table align="center" style="width:100%">
  <tr>
    <td> <%= label_tag(:status_code, "Status code:") %> </td>
    <td> <%= @curl_response.response_code %> </td>
  </tr>
  <tr>
    <td> <%= label_tag(:response_body, "Response:") %> </td>
    <td> <%= text_area_tag(:response_body, @curl_response.response_body, disabled: true) %> </td>
  </tr>
</table>

<% if (@curl_response.response_code.eql? 200) && (@curl_response.headers_hash.as_json['Content-Type'].eql? 'application/json')%>
    <div class="submit-button">
      <%= form_tag("/validate", remote: true, method: "post") do %>
          <%= submit_tag 'Validate response' %>
      <% end %>
<% end %>
</div>
